@tailwind base;
@tailwind components;
@tailwind utilities;

/*!Change scrollbar color */
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa #f5f5f5;
}

#app {
  width: clamp(320px, 100%, 1500px);
  margin: 0 auto;
}
